$highlight-text-color: #4db6ac;

.link-title {
  outline-width: thin;
  outline-color: $highlight-text-color;
}

.link-url {
  outline-width: thin;
  outline-color: $highlight-text-color;
}

.card-title:hover {
  color: $highlight-text-color;
}

.card {
  color: black;
}
.btn {
  background-color: $highlight-text-color;
  font-weight: bold;
}

#change-status:hover {
  color: $highlight-text-color;
}

#change-status {
  padding-right: 15px;
  padding-top: 10px;
}

.nav-wrapper {
  background-color: #eceff1;
  color: black;
}

body {
  background-color: #4f174f;
  color: white;
}

.link {
  color: black;
}